@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.Signup {
  background-image: url("./assets/Signup.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.Login {
  background-image: url("./login/assets/Login.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
